.box{
    padding:0px 40px 30px 0px;
}
.position{font-size:16px;color:#e3e3e5;}
.position a{font-size:16px;color:#333;margin-right:10px;}
.position span{font-size:16px;color:#e3e3e5;margin-left:10px;}

.box .content{width:100%;height:97%;margin-top:20px;position:relative;}
.box .content .left{width:20%;height:100%;position:absolute;top:0;left:0;}
.box .content .left .add{width:90px;height:30px;border-radius:5px;background:#1c7dfa;margin:auto;}
.box .content .left .add a{display:block;font-size:14px;color:#fff;text-align:center;line-height:30px;}
.box .content .left .btns{padding-top:15%;}
.box .content .left .btns .btn_1{text-align:left;padding-left:30px;margin-bottom:25px;background: #f4f6f8;height:30px;}
.nav{text-align:left;padding-left:30px;height:30px;}
.box .content .left .btns .btn_1 a{display:inline-block;width:18px;height:18px;margin-left:5px;vertical-align:middle;}
.box .content .left .btns .btn_1 a img{width:100%;height:100%;}
.box .content .left .btns .btn_1 .b_title{font-size:14px;color:#000;line-height:18px;margin-left:5px;}
.box .content .left .btns .btn_1 input{width:18px;height:18px;border:1px solid #000;background-color:#eaedf1;vertical-align:middle;margin-bottom: 3px;}
.box .content .left .btns .btn_1 i{font-size: 18px!important;height: 18px;width: 18px;line-height: 30px;}
.box .content .left .btns ul{text-align:left;}
.box .content .left .btns ul li{padding-left:35%;margin-bottom:15px;}

.box .content .left .btns ul li a{display:inline-block;width:14px;height:14px;margin-left:5px;vertical-align:middle;}
.box .content .left .btns ul li a img{width:100%;height:100%;}
.box .content .left .btns ul li .b_title{font-size:12px;color:#000;line-height:18px;margin-left:5px;width:50%;display:inline-block;text-align:left;}
.box .content .left .btns ul li input{width:14px;height:14px;border:1px solid #000;background:none;vertical-align:middle;margin-left:5px;}

.box .content .nav-top{margin: 0;background: #eaedf1;}
.box .content .nav-top ul{width: 100%;}
.box .content .nav-top ul li{float:left;width: 150px;height: 30px;text-align: center;line-height: 30px;color: #000;margin-right: 10px;border-top-left-radius: 5px;border-top-right-radius: 5px;font-size: 14px;background:#dbdde1;}
.box .content .nav-top ul li:hover{background: #fff;color:#1c7dfa ;}

.box .content .right{float:left;width:80%;height:100%;background:#fff;position:absolute;right:0;top:0;}
.box .content .right > div{overflow:hidden;margin-bottom:25px;}
.box .content .right > div .name{float:left;width:20%;text-align:right;font-size:16px;color:#000;line-height:30px;}
.box .content .right > div .role{float:left;width:350px;height:30px;margin-left:15px;border:1px solid #000;border-radius:5px;}
.box .content .right > div .role-icon{float:left;width:90px;height:30px;margin-left:15px;border:1px solid #999;border-radius:5px;background:#f7f7f7;text-align: center;line-height: 30px;}
.box .content .right > div .role input[type=text]{display:block;width:100%;height:100%;background:none;font-size:14px;color:#000;padding-left:5%;}
.box .content .right > div:first-child .role{background:url(../images/icon_12.png)no-repeat 95% center;}
.box .content .right > div:nth-child(5) .role{border:0;line-height:30px;}
.box .content .right > div:nth-child(5) .role input[type=radio]{width:16px;height:16px;border:1px solid #000;border-radius:50%;
    -webkit-appearance:none; -moz-appearance: none; appearance: none;vertical-align:middle;margin-right:10px;}
.box .content .right > div:nth-child(5) .role input[type=radio]:checked{border:none;background:url(../images/icon_13.png)no-repeat center;width:16px;height:16px;border-radius:50%;overflow:hidden;}
.box .content .right > div:nth-child(5) .role label{font-size:14px;color:#000;margin-right:80px;}

.box .content .right > div:nth-child(9) .role{border:0;}
.box .content .right > div:nth-child(9) .role .bottom_line{width:350px;height:2px;background:#bdc0c3;margin-top:15px;position:relative;}
.box .content .right > div:nth-child(9) .role .left_line{position:absolute;left:0;top:-4px;background:#000;width:1px;height:10px;}
.box .content .right > div:nth-child(9) .role .right_line{position:absolute;right:0;top:-4px;background:#132336;width:1px;height:10px;}
.box .content .right > div:nth-child(9) .role .top_line{position:absolute;top:0;left:0;width:20%;height:2px;background:#1c7dfa;}
.box .content .right > div:nth-child(9) .role .top_line i{position:absolute;width:12px;height:12px;background:#333;border-radius:50%;top:-5px;right:0;cursor:pointer;}

.box .content .right > div:nth-child(7) .role{border:0;line-height:30px;}
.box .content .right > div:nth-child(7) .role input[type=radio]{width:16px;height:16px;border:1px solid #000;border-radius:50%;
    -webkit-appearance:none; -moz-appearance: none; appearance: none;vertical-align:middle;margin-right:10px;}
.box .content .right > div:nth-child(7) .role input[type=radio]:checked{border:none;background:url(../images/icon_13.png)no-repeat center;width:16px;height:16px;border-radius:50%;overflow:hidden;}
.box .content .right > div:nth-child(7) .role label{font-size:14px;color:#000;margin-right:80px;}

.box .content .right > div:nth-child(10) .role{width:auto;height:auto;border:0;}
.box .content .right > div:nth-child(10) .role textarea{resize:none;width:350px;height:100px;border:1px solid #000;border-radius:5px;background:none;padding:10px 15px;font-size:14px;color:#333;}
.box .content .right > .btn{padding-left:22%;}
.box .content .right > .btn a{float:left;display:block;font-size:14px;color:#fff;width:90px;height:30px;border-radius:5px;margin-right:40px;text-align:center;}
.box .content .right > .btn a:nth-child(1){background:#1c7dfa;color:#fff;line-height:30px;}
.box .content .right > .btn a:nth-child(2){background:#f35857;line-height:30px;}

.btn_determine{display:none;}



/*更改placeholder颜色*/
input::-webkit-input-placeholder{ /*WebKit browsers*/  color: #999;}
input::-moz-input-placeholder{ /*Mozilla Firefox*/  color: #999;}
input::-ms-input-placeholder{ /*Internet Explorer*/  color: #999;}

textarea::-webkit-input-placeholder{ /*WebKit browsers*/  color: #999;}
textarea::-moz-input-placeholder{ /*Mozilla Firefox*/  color: #999;}
textarea::-ms-input-placeholder{ /*Internet Explorer*/  color: #999;}





/*scroll*/
.scroll{
    margin-top:14px;
    width: 100%;
    height: 2px;
    background: #132336;
    position: relative;
}
.bar{
    width: 12px;
    height: 12px;
    border-radius:50%;
    background: #1c7dfa;
    position: absolute;
    top: -5px;
    left: 0;
    cursor: pointer;
}
.mask{
    position: absolute;
    left: 0;
    top: 0;
    background: #1c7dfa;
    width: 0;
    height: 2px;
}








