.main{width: 100%;height: 100%;background: transparent;position:fixed;top: 0;left: 0;display: none;}
.depwd{height: 415px;width: 600px;position: absolute;top: 25%;left: 40%;z-index: 666;box-shadow: 0 0 10px #ccc;}
.top-nav{width:100%;height: 60px;background-color: #1c7dfa;}
.bot{width:100%;height: 355px;background-color: #fff;}
.t-text{font-size: 14px;color: #fff;line-height: 60px;margin-left:25px;}
.close{width:60px;height:60px;font-size: 14px;color: #fff;line-height: 60px;text-align: center;background-color: #006af2;}
.close:hover{cursor: pointer;}
.cet{width: 420px;margin: 0 auto;padding-top: 20px;}
.red{color: #f35857;font-size: 14px;height: 30px;line-height: 30px;margin-bottom: 25px;padding-left: 90px;}
.name,.num{font-size: 16px;height: 30px;line-height: 30px;margin-bottom: 25px;}
.name>input,.num>input{width: 330px;height: 30px;border: 1px solid #999;color:#999;float: right;padding-left: 10px;border-radius: 5px;}
.icon-xingxing{font-size: 8px!important;color: #ff0000!important;}
.bz{font-size: 16px;}
.bz>i{color: transparent!important;}
.bz>input{width: 330px;height:85px;border: 1px solid #999;color:#999;float: right;padding-left:10px;border-radius: 5px;padding-bottom: 60px;}
.button{height: 30px;width: 100%;margin-top: 30px;}
.qx{display: block;height:30px;width: 90px;color:#1c7dfa;border: 1px solid #1c7dfa;border-radius: 5px;text-align: center;line-height: 30px;}
.qx:hover{cursor: pointer;}
.qr{display: block;height:30px;width: 90px;color:#fff;background-color:#1c7dfa;border-radius: 5px;margin-left: 30px;text-align: center;line-height: 30px;}
.qr:hover{cursor: pointer;}









