.box{padding:10px 0;}
.position{font-size:16px;color:#e3e3e5;}
.position a{font-size:16px;color:#fff;margin-right:10px;}
.position span{font-size:16px;color:#e3e3e5;margin-left:10px;}

.content{width:100%;height:97%;background:rgba(0,0,0,.2);margin-top:15px;position:relative;}
.content .search{width:100%;height:30%;padding:40px 3% 0;}

.wrap{width: 98%;margin: 0 auto;}
.wrap-left{width: 23%;height: 300px;}
.wrap-right{width: 76%;height: 300px;}
.wrap-right ul{width: 100%;height: 100%;}
.wrap-right ul li{width: 49.5%;height: 100%;}
.wrap-right ul li:first-child{float: left;background: url(../images/mc.png);background-size:cover;}
.wrap-right ul li:last-child{float: right;background: url(../images/mc.png);background-size:cover;}
.ltop{height: 48%;width: 100%;background-color: #fff;margin-bottom: 4%;padding: 0 5%;}
.lbot{height: 48%;width: 100%;background-color: #fff;padding: 0 5%;}
.p1{width:100%;text-align: right;display: block;font-size: 14px;margin-bottom: 10px;}
.p1:hover{cursor: pointer;}
.secl{width: 40%;height: 70%;}
.secr{width: 40%;height: 70%;background-color: #f9f9fa;padding: 10% 5%;}
.secr>b{display: block;font-size: 14px;text-align: center;color: #000;}
.secr>span{display: block;font-size: 12px;text-align: center;color: #ff0000;line-height:50px;}
.wrap1{width: 98%;margin: 0 auto;padding-top: 10px;}
.wrap1-left{width: 76%;height: 300px;}
.wrap1-right{width: 23%;height: 375px;background-color: #fff;border-radius: 5px;}
.top{height: 50px;width: 100%;padding: 10px 10px;background-color: #fff;border-radius: 5px;margin-bottom: 10px;}
.top>a{display:block;height: 30px;text-align: center;color: #000;line-height: 30px;background-color: #f7f7f7;border-radius: 5px;border: 1px solid #E1E6EB;margin-left: 10px;}
.top>a:hover{cursor: pointer;}
.but1{width: 120px;}
.but2{width: 90px;}
.ptext{font-size: 14px;text-align: right;line-height: 2rem;color:#000;}
.redtext{color: #e60012;}
.bot{width: 100%;height: 315px;background-color: #fff;padding: 10px 20px;border-radius: 5px;}
.bot table{width: 100%;border-collapse: collapse;}
.bot table th{height: 40px;background-color: #f4f5f9;border:1px solid #E1E6EB;text-align: center;}
.bot table th:first-child{width:55px;}
.bot table td{height: 50px;border-bottom: 1px solid #E1E6EB;border-right:1px solid #E1E6EB;text-align: center;}
.bot table tr td:first-child{border-left: 1px solid #E1E6EB;}
.bot table td a{text-decoration: underline;color: #52d669;}
.red{color: #ff0000!important;}
.bot table td>i:not(:last-of-type){margin-right: 15px;}
.cz{width: 15%;}

.ckb{width: 1rem;height: 1rem;display: block!important;margin: 0 auto;}
.ckb:hover{cursor: pointer;}

.bot input{display: none;}
.bot input+label{display: inline-block;border-radius: 50%;border: 1px #aaa solid;width: 16px;height: 16px; }
.bot input:checked+label{background-image: url(../images/icon-gou.png);background-size: cover;border: none;}  

.py input{display: none;}
.py input+label{display: inline-block;border-radius: 50%;border: 1px #aaa solid;width: 16px;height: 16px; }
.py input:checked+label{background-image: url(../images/icon-gou.png);background-size: cover;border: none;}  

.wrap1-right{padding: 25px 10px;}
.iconfont:hover{cursor: pointer;}

.section-one{width: 100%;background-color: #f9f9fa;border-radius: 5px;padding: 10px 0;margin-bottom: 40px;}
.pbb{font-size: 30px;text-align: center;line-height: 30px;color: #1c7dfa;}
.ps{width: 100%;font-size: 12px;text-align: center;color: #969896;line-height:30px;}
.ps>span{color: #1c7dfa;}
.pgt{font-size: 14px;text-align: center;line-height: 30px;color: #969896;}
.pgt>span{font-size: 16px;color: #ff0000;}
.pl{font-size: 12px;}
.pl>span{color: #ff0000;}
.pr{font-size: 12px;}
.pr>span{color: #ff0000;}
.pay{color: #969896;font-size: 14px;margin-right: 14px;}
.wx{color: #969896;font-size: 14px;}
.but{display:block;width: 100%;height:40px;font-size: 14px;text-align: center;color: #FFF;line-height: 40px;border-radius: 5px;background-color: #1c7dfa;}