.box{padding-top:20px;}
.box .tabs{width:auto;height:30px;}
.box .tabs a{float:left;display:block;width:175px;height:30px;text-align:center;line-height:30px;background:#dbdde1;border-top-left-radius:5px;border-top-right-radius:5px;margin-right:10px;font-size:12px;color:#666;  }
.box .tabs a.current{background:#fff;color:#1c7dfa;}


.box .top{width:100%;height:25%;background:#fff;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;padding-top:1%;}
.box .top .prompt{font-size:14px;color:#8a8a8a;padding-left:5%;}
.box .top .prompt:before{content:'';display:inline-block;width:18px;height:18px;font-size:14px;color:#8a8a8a;background:url(../images/icon_5_1.png)no-repeat center;vertical-align:middle;margin-right:5px;}
.box .top .c_box{width:95%;height:auto;padding:30px 0 30px 5%;background:#f7f8fb;margin:20px 0 0 3%;}
.box .top .c_box > div{margin-bottom:10px;}
.box .top .c_box > div span{font-size:14px;color:#929394;display:inline-block;width:22%;}
.box .top .c_box > div a{font-size:14px;color:#1c7dfa;}
.box .top .c_box > div .time{margin-left:5%;color:#666;}
.box .top .c_box > div .time i{font-style:inherit;margin-left:5px;}

.box .center{width:100%;height:28%;background:#fff;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;margin-top:1%;padding-top:2%;}
.box .center .title{font-size:18px;color:#333;padding-left:5%;}
.box .center .c_box{width:95%;height:auto;padding:30px 0 30px 5%;background:#f7f8fb;margin:20px 0 0 3%;}
.box .center .c_box > div{margin-bottom:10px;}
.box .center .c_box > div span{font-size:14px;color:#929394;display:inline-block;width:30%;}
.box .center .c_box > div span i{font-style:inherit;color:#333;}
.box .center .c_box > div a{font-size:14px;color:#1c7dfa;}
.box .center .c_box > div .time{margin-left:5%;color:#666;}
.box .center .c_box > div .time i{font-style:inherit;margin-left:5px;}


.box .bottom{width:100%;height:39%;background:#fff;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;margin-top:1%;padding-top:1.5%;}
.box .bottom .title{font-size:18px;color:#333;padding-left:5%;}
.box .bottom .c_box{width:95%;height:auto;padding:20px 0 20px 5%;background:#f7f8fb;margin:20px 0 0 3%;}
.box .bottom .c_box > div{margin-bottom:10px;}
.box .bottom .c_box > div span{font-size:14px;color:#929394;display:inline-block;width:30%;}
.box .bottom .c_box > div span i{font-style:inherit;color:#333;}
.box .bottom .c_box > div a{font-size:14px;color:#1c7dfa;}
.box .bottom .c_box > div .time{margin-left:5%;color:#666;}
.box .bottom .c_box > div .time i{font-style:inherit;margin-left:5px;}
.box .bottom .prompt{width:95%;height:auto;margin-left:3%; background:#fcf8e2;border:1px solid #fbeccb;color:#f68300;font-size:16px;margin-top:10px;padding:10px 0 10px 2%;}
.box .bottom .prompt span:before{content:'';display:inline-block;width:14px;height:14px;background:url(../images/icon_5.png)no-repeat center;margin-right:10px;vertical-align:top;}

/*弹窗*/

.depwd{height: 415px;width: 600px;position: absolute;top: 10%;left: 40%;}
.bot{width:100%;height: 570px;background-color: #fff;}
.t-text{font-size: 14px;color: #fff;line-height: 60px;margin-left:25px;}
.close{width:60px;height:60px;font-size: 14px;color: #fff;line-height: 60px;text-align: center;background-color: #006af2;}
.close:hover{cursor: pointer;}
.cet{width: 500px;margin: 0 auto;padding-top: 20px;}
.red{color: #f35857;font-size: 14px;height: 30px;line-height: 30px;margin-bottom: 25px;padding-left: 90px;}
.cet p{line-height: 30px;margin-bottom: 20px;}
.cet p span{text-align:right;width: 30%;}
.cet input{width: 330px;height: 30px;border: 1px solid #999;color:#999;float: right;padding-left: 10px;border-radius: 5px;}
.icon-xingxing{font-size: 8px!important;color: #ff0000!important;}
.bz>i{color: transparent!important;}
.bz>input{width: 330px;height:85px;border: 1px solid #999;color:#999;float: right;padding-left:10px;border-radius: 5px;padding-bottom: 60px;}
.button{height: 30px;width: 100%;margin-top: 30px;}
.qx{display: block;height:30px;width: 90px;color:#1c7dfa;border: 1px solid #1c7dfa;border-radius: 5px;text-align: center;line-height: 30px;}
.qx:hover{cursor: pointer;}
.qr{display: block;height:30px;width: 90px;color:#fff;background-color:#1c7dfa;border-radius: 5px;margin-left: 30px;text-align: center;line-height: 30px;}
.qr:hover{cursor: pointer;}
